<!DOCTYPE html>
<html>
<head>
    <title>Structure and Interpretation of Classical Mechanics: {{ page.title }}</title>

    <meta name="description" content="Structure and Interpretation of Classical Mechanics: {{ page.title }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />

    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link href="css/prettify.css" rel="stylesheet" type="text/css" />

    <script src="js/jquery.min.js" type="text/javascript"></script>
    <script src="js/footnotes.js" type="text/javascript"></script>
    <script src="js/browsertest.js" type="text/javascript"></script>
    <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"> </script>
</head>


<body>
    <section>
        <span class="top jump" title="Jump to top"><a href="#pagetop" accesskey="t">⇡</a></span><a id="pagetop"></a><a id="Preface"></a>
        <nav class="header">
            <p>
            Next: <a href="" accesskey="n" rel="next">NEXT</a>, Prev: <a href="" accesskey="p" rel="prev">PREV</a>, Up: <a href="toc.html" accesskey="u" rel="prev">Top</a>   [<a href="toc.html#SEC_Contents" title="Table of contents" accesskey="c" rel="contents">Contents</a>]</p>
        </nav>

        {{ content }}

        <nav class="header">
            <p>
            Next: <a href="" accesskey="n" rel="next">NEXT</a>, Prev: <a href="" accesskey="p" rel="prev">PREV</a>, Up: <a href="toc.html" accesskey="u" rel="prev">Top</a>   [<a href="toc.html#SEC_Contents" title="Table of contents" accesskey="c" rel="contents">Contents</a>]</p>
        </nav>

    </section><span class="bottom jump" title="Jump to bottom"><a href="#pagebottom" accesskey="b">⇣</a></span><a id="pagebottom"></a>
</body>
</html>
